* {
    padding: 0;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

.message {
    padding: 3px 6px;
    background-color: #043d2b;
    color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    max-width: fit-content;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-top: 8px;
}